.my-orders {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
}

.my-orders-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.my-orders-details{
    background-color: #ffdee1;
    padding: 10px 25px;
    border-radius: 25px;
}

.my-orders-header h2 {
    text-align: center;
    color: #282892;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0px auto 20px auto;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 2px solid #fdb6bd;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 0 10px #ffdee1;
}

.order-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.order-table th {
    background-color: #fdb6bd;
    color: #444;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.order-table td {
    background-color: #ecf0f1;
    padding: 10px 5px;
    text-align: center;
}

.admin-status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

.admin-panel-status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
}

.admin-panel-status option {
    background-color: white;
    color: #333;
}

.admin-panel-status.pending {
    background-color: #f39c12;
    color: white;
}

.admin-panel-status.confirmed {
    background-color: #2ecc71;
    color: white;
}

.admin-panel-status.out-for-delivery {
    background-color: #2196f3;
    color: white;
}

.admin-panel-status.delivered {
    background-color: #9c27b0;
    color: white;
}

.admin-status.true {
    background-color: #2ecc71;
}

.admin-status.false {
    background-color: rgb(255, 109, 109);
}

.view-details {
    width: 80%;
    background-color: #fdb6bd;
    color: #444;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details:hover {
    background-color: #ffdee1;
}
