.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: 50px;
    width: max(10%,50px);
    margin-left: 20px;
}
.admin-text{
    align-items: center;
    font-weight: bold;
}

.navbar .profile{
    width: 50px;
}