.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width:75px;
    height:75px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(97, 91, 91);
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}
.navbar-input{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 205, 233);
    height: 30px;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
}
.navbar-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.navbar-icon img{
    width: 20px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: rgb(118, 114, 114);
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: rgb(245, 208, 228);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(168, 109, 168);
}

.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: pink;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
position: absolute;
display: none;
right: 0;
z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(250, 216, 255);
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid brown;
    outline: 2px solid wheat;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: brown;
}
@media(max-width:1050px){
    .navbar.logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;

    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media(max-width:900px){
    .navbar.logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;

    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media(max-width:750px){
   
    .navbar-menu{
        display: none;
    }
}