/* .food-item {
    width: 100%;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gainsboro;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image {
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}
.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img {
    width: 70px;
}
.food-item-desc {
    color: rgb(103, 24, 177);
    font-size: 16px;
}
.food-item-price {
    color: red;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-img-container {
    position: relative;
}
.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-stock {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    background-color: white;
    color: #444;
    font-family: 700;
    border-radius: 100%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img {
    width: 30px;
}
 */

 .food-item {
    width: 100%;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gainsboro;
    transition: 0.3s;
    animation: fadeIn 1s;
    cursor: pointer;
}

.food-item-image {
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #282892;
    font-size: 16px;
}

.food-item-price {
    color: #FF6D6D;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add-cart {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-stock {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px 10px;
    background-color: rgb(250, 111, 111);
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 30px;
}
