.success-page {
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.success-page h1 {
    color: #4caf50;
    text-align: center;
}

.success-btn-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pdf-design{
    padding-top:20px;
}

.order-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 40px;
    margin:0px 20px;
    border: 3px solid #ddd;
}

.order-details h2 {
    color: #333;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}
.order-status >h3{
    margin:10px 0px;
}

.order-summary,
.customer-details,
.order-status {
    margin-top: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 15px;
}

.order-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.item-details h4 {
    margin: 0;
    color: #333;
}

.item-details p {
    margin: 5px 0;
    color: #666;
}

.total-amount {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 15px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.customer-details p,
.order-status p {
    margin: 5px 0;
}

.paid-status {
    color: green;
}

.unpaid-status {
    color: red;
}
.shopmore-btn {
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #030346;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.delivery-man-details {
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}
.shop-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.success-logo{
    width: 100px;
    height: 100px;
}
